In [7]:
import sqlite3
import pandas as pd

# Read CSV into DataFrame
df = pd.read_csv('/content/census_data/census_data.csv')

# Read SQL schema from .sql file
with open('schema.sql', 'r') as f:
    sql_schema = f.read()

# Connect to SQLite database
conn = sqlite3.connect('census.db')

# Create table using the schema
conn.executescript(sql_schema)

# Write DataFrame to SQL database
df.to_sql('census', conn, if_exists='replace', index=False)

#test
query = """
SELECT* from census;
"""
result = conn.execute(query).fetchone()

# Print the result
print(result)

# Close connection
conn.close()

(39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K')